$off-white: #EEEEEE;
$bluemarin: #00ADB5;
$light-grey: #393E46;
$dark: #222831;
$title-font: 'Carter One', cursive;
$regular-font: 'Ubuntu', sans-serif;

html {
    font-family: $regular-font;
}
body {
    background-color: $off-white;
}